@font-face {
  font-family: "AlbertusMT";
  src: url("../../assets/AlbertusMT.otf") format("OpenType");
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//     font-family: "TitilliumWeb";
//     src: url("../../assets/fonts/TitilliumWeb-SemiBold.ttf") format("TrueType");
//     font-weight: 600;
//     font-style: bold;
// }
