$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color-1: #fbe35b; // diggable-yellow
$primary-color-2: #3b4455; // diggable-grey
$primary-color-3: #fff; // white

$secondary-color-1: #fff2a7; // second yellow
$secondary-color-2: #bdc5d5; // cloud

$background-color-1: #232940; // graphite
$background-color-2: #f7f8f9; // light-grey

$supporting-color-1: #158463; // green
$supporting-color-2: #c94515; // red
