@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form {
  background-color: $primary-color-1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;

  &__wrap {
    flex-direction: column;
  }
}
