@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.payment {
  display: flex;
  flex-direction: column;

  &__first {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10%;
    background-image: url();

    background: linear-gradient(
        0deg,
        rgba(142, 116, 131, 0.3),
        rgba(78, 73, 21, 0.3)
      ),
      url("../../assets/images/05hiphop15-jumbo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    color: #f5f5f5;
  }

  &__firstwrap {
    display: flex;
    justify-content: center;
  }

  &__second {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color-1;
    padding: 10%;
  }

  &__header {
    text-align: center;
  }

  &__content {
    justify-content: center;
    display: flex;
    text-align: center;
    margin: 3rem;
    font-weight: lighter;
    background-color: rgba(142, 116, 131, 0.3), rgba(142, 116, 131, 0.3);
  }

  &__buttons {
    width: 12em;
    justify-content: center;
    display: flex;
    text-align: center;
    background-color: black;
    border-radius: 2rem;
    color: white;
    border: none;
    padding: 10px;
    font-weight: bold;
  }
}

.paymeny__buttons:hover {
  background-color: grey;
}
