@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.signinForm {
  background-color: $primary-color-1;
  display: flex;
  justify-content: center;
  padding: 3em;

  &__wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    padding: 1em;
    display: flex;
    justify-content: center;
  }

  &__inputs {
    border-radius: 1rem;
    border: none;
    width: 60%;
  }
}
