@use "../../styles/partials/variables" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global";

.modal-overlay {
  position: fixed;
  z-index: 100;

  @include tablet {
    @media (min-width: 768px) {
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

.modal {
  border-radius: 0.3rem;
  position: fixed;
  z-index: 100;
  background-color: $primary-color-3;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @include tablet {
    @media (min-width: 768px) {
      width: 68rem;
      height: 26rem;
      left: 50%;
      top: 31.6rem;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    @extend .p2;
  }

  &__icon-container {
    display: flex;
    justify-content: flex-end;
    padding: 2.4rem 1.6rem;

    @include tablet {
      @media (min-width: 768px) {
        padding-bottom: 0.8rem;
      }
    }
  }

  &__title-container {
    padding: 0 1.6rem 1.6rem 1.6rem;

    @include tablet {
      @media (min-width: 768px) {
        padding: 0 3.2rem 1.6rem 3.2rem;
      }
    }
  }

  &__content-container {
    flex-grow: 1;
    padding: 0 1.6rem;

    @include tablet {
      @media (min-width: 768px) {
        padding: 0 3.2rem;
      }
    }
  }

  &__button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.6rem;
    padding: 0 0.8rem;

    @include tablet {
      @media (min-width: 768px) {
        padding: 0 2.4rem;
        margin-bottom: 3.2rem;
      }
    }
  }

  &__button-delete,
  &__button-cancel {
    margin: 0 0.8rem;
    font-family: "TitilliumWeb";
  }

  &__button-delete {
    @extend .button-delete;
  }

  &__button-cancel {
    @extend .button-secondary;
  }
}
