@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  height: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include tablet {
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 2rem;
    margin-inline: 5rem;
  }

  &__textlogowrap {
    height: 15rem;
    flex-direction: row;
    justify-content: center;
    display: flex;
    background-color: $primary-color-1;

    @include tablet {
      order: 0;
      border-radius: 65%;
    }
  }

  &__textlogo {
    height: 75%;
    flex-direction: row;
    justify-content: center;
  }

  &__visuallogowrap {
    height: 13rem;
    flex-direction: row;
    justify-content: center;
    display: flex;

    @include tablet {
      order: 1;
    }
  }
  &__visuallogo {
    height: 12rem;
  }
}

.navbar {
  background-color: $primary-color-1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5rem;

  @include mobile {
    display: none;
  }

  &__pages {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-inline: 5rem;
  }

  &__login {
    margin-inline: 13rem;
  }
}
