*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set a max width for the viewport */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Style the Flickity carousel */
.flickity-viewport {
  overflow: hidden; /* Hide the overflow for the viewport */
}

/* Define fixed dimensions for each carousel cell */
.flickity-cell {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 400px;
  position: relative;
  box-sizing: border-box;
}

/* Style the images within the cells */
.flickity-cell img {
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  width: 110%;
  height: 100%;
}

/* Additional styles for your captions (adjust as needed) */
.carousel-caption {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
}

body .flickity-button:focus {
  outline: none;
  box-shadow: 0px 0px 40px 15px #fff1a7;
}

body .carousel-cell {
  min-height: 100%;
}

body .flickity-cell {
  width: 33.33%;
}
