@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-left: 5rem;

  &__textlogowrap {
    flex-direction: row;
    justify-content: start;
    display: flex;
  }

  &__textlogo {
    flex-direction: row;
    justify-content: center;
    height: 14rem;
    padding-top: 4em;
    padding-bottom: 2em;
  }

  &__links {
    display: flex;
    justify-content: space-between;
  }

  &__links-left {
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 9em;
  }

  &__links-right {
    color: white;
    margin-inline: 5%;
  }
}

.socialIcons {
  display: flex;
}

.socialIcon {
  margin-right: 4em;
  display: flex;
  justify-content: space-between;
  width: 3rem;
  margin-bottom: 3em;
  max-height: 2em;
}
