@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-left: 5rem;

  &__textlogowrap {
    height: 100%;
    flex-direction: row;
    justify-content: start;
    display: flex;
  }

  &__textlogo {
    height: 15rem;
    flex-direction: row;
    justify-content: center;
  }

  &__links {
    display: flex;
    justify-content: space-between;
  }

  &__links-left {
    color: white;
  }

  &__links-right {
    color: white;
  }
}

.socialIcons {
  display: flex;
}

.socialIcon {
  margin-inline: 2rem;
  display: flex;
  justify-content: space-between;
  width: 3rem;
}
