@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form {
  background-color: $primary-color-1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__wrap {
    flex-direction: row;
    display: flex;
  }

  &__element {
    display: flex;
    border: red solid 1px;
    justify-content: end;
  }

  &__identifiers {
    display: flex;
    margin: 1rem;
    border: red 10px;
  }

  &__inputs {
    border: red 10px;
  }
}

.leftHalf {
  border: 1px solid green;
}

.rightHalf {
  border: 1px solid green;
}

.value {
  width: 1rem;
}
