@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 10px 5px 5px $secondary-color-2;

  @include tablet {
    margin-left: 5rem;
    justify-content: flex-start;
  }

  &__image {
    width: 90%;
    border-bottom: solid $secondary-color-1 5px;
    box-shadow: 5px 5px;
    aspect-ratio: 14/9;
  }

  &__imagewrap {
    display: flex;
    justify-content: center;
    box-shadow: 10px 5px 5px $secondary-color-2;
  }
}

.sidebar {
  flex-direction: row;
  margin: 10%;

  &__image {
    display: flex;
    justify-content: center;
    max-height: 100%;
    box-shadow: 10px 5px 5px $secondary-color-2;
  }
}

.pageorder {
  display: flex;
  margin: 5%;
}

.sidebarRewards {
  width: 100%;
  color: white;
  border-color: $secondary-color-1 2rem solid;
  flex-direction: column;

  @include tablet {
    width: 50%;
    margin-top: 5%;
  }
}

.contentdivider {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }
}

.profilephoto {
  border-radius: 5%;
  border: 5px solid $secondary-color-2;
  max-width: 100%;
  margin: 2rem;
}

.goal {
  margin: 5rem;
  justify-content: center;
}
